.hero {
    text-align: center;
    color: whitesmoke;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.title-home {
    padding-top: 50px;
}

.col-sm-12 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button {
    display: block;
    text-decoration: none;
    background-color: rgba(136, 136, 138, 0.2);
    color: rgba(136, 136, 138, 0.0);
    text-align: center;
    padding: 15px;
    margin: 40px;
    height: 150px;
    width: 200px;
    border-radius: 20px !important;
}

.button:hover {
    background-color: rgba(136, 136, 138, 0.5);
    border: #c2c045 2px solid;
    color: #c2c045;
}

.button i {
    color: #c2c045 !important;
    font-size: 55px;
    margin: 25px;
}



