.nav {
    justify-content: end;
    background-color: #483d71;
    --bs-nav-link-color: whitesmoke !important;
}

.logo {
    position: absolute;
    left: 20px;
    top: 3px;
    text-decoration: none;
    font-size: x-large;
    color: whitesmoke;
}
