/* Google Font */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

/* General */

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  height: 100%;
}

#root {
  font-family: "Roboto Mono";
  height: 100%;
  background-color: #04001a;
}
